body {
    margin: 0;
}

* {
    font-family: 'Altinn-DIN Exp', 'HarmonyOS_Sans_SC_Regular_MIN', 'HarmonyOS_Sans_SC_Regular',
        'Microsoft Yahei', 'PingFang SC', 'SimHei';
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
}

::selection {
    color: rgb(var(--v-theme-on-primary));
    background: rgba(var(--v-theme-primary), .8);
}

:root {
    --toastify-color-info: rgb(var(--v-theme-primary));
    --toastify-color-success: rgb(var(--v-theme-success));
    --toastify-color-warning: rgb(var(--v-theme-warning));
}

.v-overlay__content {
    margin: 0 !important;
}